
.active {
          background-color: green;
          color: white;
}

      /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
          display: none;
          padding-left: 8px;
      }
.dropdown-btn:hover {
          color: #818181;

      }
.dropdown-btn {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 20px;
          color: black;
          display: block;
          border: none;
          background: none;
          width: 100%;
          text-align: left;
          cursor: pointer;
          outline: none;
      }
.cb:hover{
        color: #818181;
      }
.cb {
        padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 20px;
          color: black;
          width: 100%;
          text-align: left;
          cursor: pointer;
          outline: none;
      }