<!DOCTYPE html>
<html lang="en">
<head>
  <title>ZSYJ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Colorado Congressional District Representatives 2008</h2>
  <p></p>
  <p></p><br>
  
  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="/asset/colorado1.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Diana DeGette</h4>
      <p> Colorado's 1st Congressional District Representative. (Democratic)</p>
    </div>
  </div>
<div class="media">
    <div class="media-left">
      <img src="/asset/colorado2.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Mark Udall</h4>
      <p> Colorado's 2nd Congressional District Representative. (Democratic)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/colorado3.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Salazar</h4>
      <p> Colorado's 3rd Congressional District Representative. (Democratic)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/colorado4.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Betsy Markey</h4>
      <p> Colorado's 4th Congressional District Representative. (Democratic)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/colorado5.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Doug Lamborn</h4>
      <p> Colorado's 5th Congressional District Representative. (Republican)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/colorado6.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Mike Coffman</h4>
      <p> Colorado's 6th Congressional District Representative. (Republican)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/colorado7.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Ed Perlmutter</h4>
      <p> Colorado's 7th Congressional District Representative. (Democratic)</p>
    </div>
  </div>
  <!-- Right-aligned media object -->
  
</div>

</body>
</html>