<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ZSYJ</title>  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type = 'text/css' href="/css/map.css">
  <link rel="stylesheet" type = 'text/css' href="/css/loader.css">
  <link rel="stylesheet" type = 'text/css' href="/css/button.css">   
    <link rel="stylesheet" type = 'text/css' href="/css/compareState.css">   
        <link rel="stylesheet" type = 'text/css' href="/css/dropDown.css">   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="/javascript/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height:100%;
        }
    </style>
  
</head>
<body>

<div id ="container">
     	<input type="text" id = "state" name = "state" th:value ="${name}" hidden>
    		<p id = "pids" name = "pids" th:value ="${pids}" hidden>
    		
<script th:inline="javascript">
	var pids = [[${pids}]];
	console.log(pids);
</script>


<div id="origMap">
	<script src="/javascript/compareState.js"></script>
	<div id="map"></div>
</div>
<div id="currMap">

	<div id="map2"></div>
</div>
	
<div id="origStat">
<p>Original State</p>
<div class="dropdown">
<button class="dropbtn">State Information</button>
  <div  class="dropdown-content">
  		<p >Name <span th:utext ="${original.name}" > </span> </p>
  		<p >Number of CD:  <span th:utext ="${original.CDsize}" > </span></li>
  		<p >RepublicanStat: <span th:utext ="${original.republicanStat}" > </span></p>
  		<p >DemocraticStat: <span th:utext ="${original.democraticSta}" > </span></p>
  		<p >Population: <span th:utext ="${original.totalPopulation}" > </span></p>
  		<p >State Votes: <span th:utext ="${original.overallStateVote}" > </span></p>
  		<p >TotalAvgRace: <span th:utext ="${original.totalAvgRace}" > </span></p>
  </div>

<button class="dropbtn"  style="background:#3cb371;">CD Information</button>
  <div  class="dropdown-content">
		<p id="oString"></p>
		
  </div>
</div>
</div>
<div id="currStat">
<p>Improved State</p>
<div class="dropdown">
<button class="dropbtn">State Information</button>
  <div  class="dropdown-content">
  		<p >Name <span th:utext ="${current.name}" > </span> </p>
  		<p >Number of CD:  <span th:utext ="${current.CDsize}" > </span></li>
  		<p >RepublicanStat: <span th:utext ="${current.republicanStat}" > </span></p>
  		<p >DemocraticStat: <span th:utext ="${current.democraticSta}" > </span></p>
  		<p >Population: <span th:utext ="${current.totalPopulation}" > </span></p>
  		<p >State Votes: <span th:utext ="${current.overallStateVote}" > </span></p>
  		<p >TotalAvgRace: <span th:utext ="${current.totalAvgRace}" > </span></p>
  </div>

<button class="dropbtn"  style="background:#3cb371;">CD Information</button>
  <div  class="dropdown-content">
		<p id="cString"></p>
  </div>
</div>


</div>
<script th:inline="javascript">
	document.getElementById("oString").innerHTML = [[${oString}]];
	document.getElementById("cString").innerHTML = [[${cString}]];
	pids = [[${pids}]];
</script>
    	<script src="/javascript/dropDown.js"></script>

</div>
</body>
</html>