<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ZSYJ</title>  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type = 'text/css' href="/css/map.css">
  <link rel="stylesheet" type = 'text/css' href="/css/loader.css">
  <link rel="stylesheet" type = 'text/css' href="/css/popup.css">  
  <script src="/javascript/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
	 <input class ='cb' type="button" onclick="location.href='home';" value="Home" /> 
	 <form action = "redraw" method="post">
	 <p class="dropdown-btn"> Weights</p>
	 <div class="dropdown-container">
            <ul class="w3-ul">
              <li> Population</li>
               <li><input type="range" min="0" max="100" value="50" class="slider" name="populationW" id="population"><span id="popu"> </span></li>
              <li> Racial</li>
               <li><input type="range" min="0" max="100" value="50" class="slider" name="racialW" id="racial"> <span id="raci"> </span> </li>
              
              <li> Partisan</li>
              <li><input type="range" min="0" max="100" value="50" class="slider" name="partisanW" id="partisan"> <span id="part"> </span> </li>
              
              <li> Compactness</li>
                <li><input type="range" min="0" max="100" value="50" class="slider" name ="compactnessW" id="compactness"> <span id="comp"> </span> </li>
            </ul>
      </div>
       <p class="dropdown-btn">Years </p>
          <div class="dropdown-container">
            <ul class="w3-ul">
                <li><input type="radio" id="idaho" name="year" value="2008"  checked="checked" > 2008</li>
                <li><input type="radio" id="colorado" name="year" value="2010" > 2010</li>
                <li><input type="radio" id="kansas" name="year" value="2012" > 2012</li>
            </ul>
     	  </div>
     	  <a id="myBtn">Open Modal</a>
     	  <br>
		  <input type="text" name ="selectpid" id = "selectpid" value =""  hidden>
     	  <input type="text" id = "state" th:value ="${state.name}" hidden>
     	  <input type="submit" value="redraw"/>
     </form>
     <button class= "reset" onclick="stop()">Pause</button>
     <br>
     <button class= "reset" onclick="">Continue</button>
     <br>
     <button class= "reset" onclick="">Reset</button>
     <br>
     <button class= "reset" onclick="start()">Start</button>
</div>     	  			

<div style="margin-left:20%">

<div id="container"></div>
	<script src="/javascript/interaction.js"></script>
	<script src="/javascript/congressional.js"></script>
	<div class="loader"></div>
   <div id="map"></div>
   <div id="weathermap"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <script th:inline="javascript">
	    var state = "/json/"+ [[${state.name}]]+".json";
        var counties = $.ajax({
            url: state,
            dataType: "json",
            success: console.log("County data successfully loaded."),
            error: function(xhr) {
                alert(xhr.statusText);
            }
        })
        $.when(counties).done(function() {
            var map = L.map('map')
                .setView([39.113014, -95.358887], 5);
            var basemap =L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png'
            				+'?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">'
                		+'OpenStreetMap</a> contributors, '
                		+'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, '
                		+'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                maxZoom: 18,
                id: 'jmauro.ld1o2np1',
                accessToken: 'pk.eyJ1Ijoiam1hdXJvIiwiYSI6ImVYb0lheE0ifQ.Js4ba2SyUxHPCIDl1Aq1cQ'
            }).addTo(map);
            var kyCounties = L.geoJSON(counties.responseJSON,{style: style,
            			onEachFeature: onEachFeature}).addTo(map);
        });
    </script>
    <script type="text/javascript">
    var modal = document.getElementById('popup1');
	 window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
	}
    </script>
    	<div id="myModal" class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <p>Some text in the Modal..</p>
			</div>
   </div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</div>
</body>
</html>