<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ZSYJ</title>  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type = 'text/css' href="/css/map.css">
  <link rel="stylesheet" type = 'text/css' href="/css/loader.css">
  <link rel="stylesheet" type = 'text/css' href="/css/popup.css">  
  <link rel="stylesheet" type = 'text/css' href="/css/button.css">  
  <script src="/javascript/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
	 <input class ='cb' type="button" onclick="location.href='home';" value="Home" /> 
	 <p class="dropdown-btn"> Weights</p>
	 <div class="dropdown-container">
            <ul class="w3-ul">
              <li> Population</li>
               <li><input type="range" min="0" max="100" value="50" class="slider" name="populationW" id="population"><span id="popu"> </span></li>
              <li> Racial</li>
               <li><input type="range" min="0" max="100" value="50" class="slider" name="racialW" id="racial"> <span id="raci"> </span> </li>
              
              <li> Partisan</li>
              <li><input type="range" min="0" max="100" value="50" class="slider" name="partisanW" id="partisan"> <span id="part"> </span> </li>
              
              <li> Compactness</li>
                <li><input type="range" min="0" max="100" value="50" class="slider" name ="compactnessW" id="compactness"> <span id="comp"> </span> </li>
            </ul>
      </div>
       <p class="dropdown-btn">Years </p>
          <div class="dropdown-container">
            <ul class="w3-ul">
                <li><input type="radio" id="idaho" name="year" value="2008"  checked="checked" > 2008</li>
                <li><input type="radio" id="colorado" name="year" value="2010" > 2010</li>
                <li><input type="radio" id="kansas" name="year" value="2012" > 2012</li>
            </ul>
     	  </div>
     	<p class="dropdown-btn">Find a Precinct</p>
          <div class="dropdown-container">
            <ul class="w3-ul">
            		<li><label >Precinct ID:</label></li>
                <li><input type="text" id="precinctid"></li>
                <li><input type="button" onclick="findLocation()" value="Find"> </li>
            </ul>
     	 </div>
     	  <br>
     	  <input type="text" id = "state" th:value ="${state.name}" hidden>
     <button class= "reset" onclick="stop()">Pause</button>
     <br>
     <button class= "reset" onclick="">Continue</button>
     <br>
     <button class= "reset" onclick="">Reset</button>
     <br>
     <button class= "reset" onclick="start()">Start</button>
</div>     	  			

<div style="margin-left:20%">

<div id="container"></div>
	<script src="/javascript/interaction.js"></script>
	<script src="/javascript/congressional.js"></script>
	<div class="loader"></div>
   <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
</div>
</body>
</html>