<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>ZSYJ</title>  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type = 'text/css' href="/css/map.css">
  <script src="/javascript/jquery-3.3.1.min.js"></script>
  <script src="/javascript/raphael-min.js"></script>
  <script src="/javascript/us-map-svg.js"></script>


</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <input class ='cb' type="button" onclick="location.href='home';" value="Home" /> 
  <input class ='cb' type="button" onclick="location.href='loginpage';" value="Login" />  
  <input class ='cb' type="button" onclick="location.href='aboutus';" value="About" /> 
  <input class ='cb' type="button" onclick="location.href='credit';" value="Credit" />  

     <button class="dropdown-btn">Select States </button>
          <div class="dropdown-container">
            <ul class="w3-ul">
              <form action="CD"  method="post">
                <li><input type="radio" id="utah" name="name" value="utah"   onClick="setState('ut')"> Utah</li>
                <li><input type="radio" id="colorado" name="name" value="colorado"  onClick="setState('co')"> Colorado</li>
                <li><input type="radio" id="kansas" name="name" value="kansas"  onClick="setState('ks')"> Kansas</li>
                <button type="submit"> Apply </button>
              </form>
            </ul>
      </div>

</div>

<div style="margin-left:20%">

<div class="w3-container w3-teal">
  <h1>       ZSYJ States Generation  </h1>
</div>

<!-- Map Div  api:1,2 function call : 3-->  
<div id="container"></div>
<script src="/javascript/interaction.js"></script>
<script src ='/javascript/map.js'></script>
</div>

</body>
</html>