<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Kansas Congressional District Representatives 2008</h2>
  <p></p>
  <p></p><br>
  
  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="/asset/kansas1.jpg" alt="k1" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Jerry Moran</h4>
      <p> Kansas's 1st Congressional District Representative. (Republican)</p>
    </div>
  </div>
<div class="media">
    <div class="media-left">
      <img src="/asset/kansas2.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Nancy Boyda</h4>
      <p> Kansas's 2nd Congressional District Representative. (Democratic)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/kansas3.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Dennis Moore</h4>
      <p> Kansas's 3rd Congressional District Representative. (Democratic)</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="/asset/kansas4.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Todd Tiahrt</h4>
      <p> Kansas's 4th Congressional District Representative. (Republican)</p>
    </div>
  </div>
  <!-- Right-aligned media object -->
  
</div>

</body>
</html>