<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ZSYJ</title>  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type = 'text/css' href="/css/login.css">
  <link rel="stylesheet" type = 'text/css' href="/css/map.css">
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <input class ='cb' type="button" onclick="location.href='home';" value="Home" /> 
  <input class ='cb' type="button" onclick="location.href='loginpage';" value="Login" />  
  <input class ='cb' type="button" onclick="location.href='aboutus';" value="About" />
  <input class ='cb' type="button" onclick="location.href='credit';" value="Credit" />    
</div>

<div style="margin-left:20%">

<div class="w3-container w3-teal">
  <h1>  Verify  </h1>
</div>

<!-- Map Div 1,2 api 3 call function-->  
<div id="container"></div>
<form action="verifyAccount">
  <div class="imgcontainer">
    <img src="/asset/welcome.jpeg" alt="welcome" class="user">
  </div>

  <div class="container">
	<p style="display:none;" id='errorTag'><span style="color:red">Invalid Input: Invalid Email or Vkey.</p>
    <br>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="vkey"><b>Vkey</b></label>
    <input type="text" placeholder="Enter Vkey" name="vkey" required>
    <br>
    <button type="submit" class="submitb" >Verify</button>
    <br>
  </div>

</form>
</div>

<script th:inline="javascript">
/*<![CDATA[*/ 
var error =[[${session.verifyError}]];
function check(){
  	if(error != null){
  			if(error.valueOf() == "True"){
  				document.getElementById('errorTag').style.display='inline';
  			}
  			else{
  				document.getElementById('errorTag').style.display='none';
  			}
  		}
  		else{
  			document.getElementById('errorTag').style.display='none';
  		}	
  	};
/*]]>*/
  </script>
  
 <script language="javascript">
 window.onload = new function(){
	 check();
	 }
 </script>
</body>
</html>